
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


.grid-container div {
  display: flex;
  border: 2px solid #e5c3d1;
  padding: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
